 @font-face {
   font-family: 'MyFont';
   src:  url('./my-font1.ttf') format('ttf'),
         url('./my-font.ttf') format('ttf');
   font-weight: 800;
   font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.svg');
}